h1, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-family: "Helvetica", sans-serif;
}

p{
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
}

img {
    flex: 1 0 30%
}

html, body {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(90, 87, 92);
}

.subheader {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
}

#logopng {
    max-height: 75px;
    width: auto;
}

.links {
    display: flex;
    align-items: center;
    font-family: "Helvetica", sans-serif;
}

#shlinks {
    display: flex;
    gap: 16px;
    align-content: center;
}

.links a {
    color: #dfdfdf;
    text-decoration: none;
}

ul {
    list-style: none
}

.hanger {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    gap: 100px;
}

.hangercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #dfdfdf;
    max-width: 600px;
}

.hangercontent p{
    margin-right: 60px;
    margin-bottom: 20px;
}

.button-1 {
  background-color: #59c3f0;
  border-radius: 8px;
  border-style: none;
  color: #142f3a;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 180px;
  height: 60px; 
}

.button-1:hover,
.button-1:focus {
  background-color: #408eaf;
}

.hangercontent button {
    font-weight: bolder;
}

.hangerimage {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 200px;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
}

.infotiles {
    display: flex;
}

.tile1,
.tile2,
.tile3,
.tile4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 8px;
}

.tile {
    display: flex;
    border: solid 8px #59c3f0;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.testimonial {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgb(176, 170, 181);
    display: flex;
    justify-content: center;
}

.testimonialcontainer {
    display: flex;
    flex-direction: column;
    max-width: 728px;
}

.testimonialtext {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 24px;
}

.testimonialname {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 20px;
    align-self: flex-end;
    font-size: 18px;
}

.call{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 140px;
    padding-bottom: 140px;
}

.callbanner {
    display: flex;
    justify-content: space-between;
    background-color: #59c3f0;
    border-radius: 8px;
    color: #ffff;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bannertext {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bannertitle {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.bannertext2 {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
}

.callnow {
    background-color: #59c3f0;
    border: #ffff 2px solid;
    color: #ffff;
    font-family: Helvetica, sans-serif;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 97px;
    max-height: 41px;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(90, 87, 92);
    color: #ffff;
    font-family: Helvetica, sans-serif;
}